# LLVM repo root
export LLVM_SRC="${HOME}/Source/llvm-project"
echo "LLVM_SRC: ${LLVM_SRC}"

# Installation directory (i.e. CMAKE_INSTALL_PREFIX)
# default is /usr/local
export LLVM_HOME="${HOME}/.local"
echo "LLVM_HOME: ${LLVM_HOME}"

export LLVM_BUILDDIR="${LLVM_SRC}/build-llvm"
echo "LLVM_BUILDDIR: ${LLVM_BUILDDIR}"

# https://llvm.org/docs/CMake.html#cmake-build-type
export LLVM_BUILD_TYPE="Release"
echo "LLVM_BUILD_TYPE: ${LLVM_BUILD_TYPE}"

export LLVM_DIR="${LLVM_HOME}/lib/cmake/llvm"